# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Dataset & outputs
datasets/
runs/
runs_streamlit/
tmp/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Roboflow keys / secrets
kaggle.json
roboflow.json
.env
.env.*
*.pt